{% extends 'base.html' %}

{% block content %}
<div id="template" class="customer customer__login">

    <div id="customer">

        <h2 class="page_heading">Customer Login</h2>

        <div class="form-horizontal">
            <form method="post" action="{% url 'user:login' %}" id="customer_login" accept-charset="UTF-8">
                {% csrf_token %}

                <div id="login_email" class="clearfix large_form form-group">
                    <label for="username" class="login control-label col-sm-4">Username</label>
                    <div class="col-sm-4">
                        <input type="username" value="{{ username }}" name="username" id="customer_username" class="form-control" size="30" required>
                    </div>
                </div>

                <!-- Customer Account Login -->
                <div id="login_password" class="clearfix large_form form-group">
                    <label for="customer_password" class="login control-label col-sm-4">Password</label>
                    <div class="col-sm-4">
                        <input type="password" name="password" id="customer_password" class="form-control" size="16">
                    </div>
                </div>
                {% if messages %}
                <div class="alert alert-danger" role="alert">
                    {% for message in messages %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                            {{ message }}
                        {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
                <div class="form-group">
                    <div class="action_bottom col-sm-offset-4 col-sm-4">
                        <input class="btn btn-primary" type="submit" value="Sign In">
                        <span class="note">or <a href="{% url 'user:register' %}">Register</a></span>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

{% endblock %}